# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
/web/core
/web/modules/contrib
/web/themes/contrib

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# but keep cross-environment settings
!web/sites/default/settings.php

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore API keys
config/prod/sendgridapi.secret
