// Font families
$ff-default: 'Nunito Sans', sans-serif

// Font sizing
$fs-heading-1: 48px
$fs-heading-2: 36px
$fs-heading-3: 27px
$fs-heading-4: 21px

//Colours
$clr-base-text: hsla(225, 72%, 15%, 0.8)
$clr-primary:   #5090f0
$clr-secondary: #20b2aa
$clr-accent:    #ff4500

$clr-black:     #000000
$clr-grey-80:   #333333
$clr-grey-60:   #666666
$clr-grey-40:   #999999
$clr-grey-20:   #cccccc
$clr-grey-10:   #e5e5e5
$clr-white:     #ffffff
